name: Pester Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Run Pester Tests
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Pester Tests
        shell: pwsh
        run: |
          Invoke-Pester -Path ./main.Tests.ps1 -CI
